@import url(../../css/component/variable.css);
.container {
	padding: 120px;
}
.checkbox__container{
	width:auto;
	position:relative;
}

.checkbox__input-checkbox{
	visibility: hidden;
	user-select: none;
	position:absolute;
}
.checkbox__label{
	
}
.checkbox__label::before{
	position:absolute;
	
	content:" ";
	display:inline-block;
	width:20px;
	height:20px;
	border: 1px solid #767676;
	border-radius:4px;
	user-select: none;	
}
.checkbox__label::after{
	/* display:none; */
	width:20px;
	height:20px;
	position:absolute;
	content:" ";
	display: none;
	background:url(../../assets/images/Sprites.64af8f61.svg) no-repeat -1221px -358px;
}
.checkbox__input-checkbox:checked + .checkbox__label::after{
	display: inline-block;
}
