body {
	font-family: roboto regular fonts;
	margin: 0;
}
* {
	font-size: 14px;
}
@font-face {
	font-family: roboto regular fonts;
	src: url(../assets/font/Roboto/Roboto-Regular.ttf);
}
.delete-it {
	display: block;
}
