.dropdown-list {
	width: 100%;
	position: relative;
}
.dropdown__label {
	display: block;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	color: #1f1f1f;
	margin-bottom: 8px;
}
.dropwdown__input {
	width: 100%;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
	border-radius: 3px;
	box-sizing: border;
	border: 1px solid #50b83c;
	border: 1px solid #e0e0e0;
	z-index: 1;
}
.dropdown__input--normal {
	border: 1px solid #e0e0e0;
}
.dropdown__input-text {
	white-space: nowrap;
	overflow: hidden;
	max-width: 140px;
	padding-left: 12px;
	font-size: 14px;
	padding: 12px;
	font-weight: 400;
	color: #9e9e9e;
	text-align: left;
}
.dropdown__input-icon {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.dropdown__i--close-icon {
	width: 16px;
	height: 16px;
	font-size: 16px;
	color: gray;
	margin-left: 8px;
}
.data-table__button-dropdown-edit {
	height: 100%;
	display: flex;
	align-items: center;
}
.dropdown__i--icon {
	display: block;
	width: 16px;
	height: 100%;
	font-size: 16px;
	line-height: 2.2;
	padding: 0 8px 0px 8px;
}
.dropdown__text--error {
	margin-top: 8px;
}
.dropdown__span--error {
	font-size: 12px;
	text-align: left;
	color: #e61d1d;
	font-weight: 400;
}
/* dropdown-list the List */
.dropdown-list__list {
	overflow-y: overlay;
	overflow-x: hidden;
	white-space: nowrap;
	position: absolute;
	top: 36;
	/* width: 100%; */
	max-height: 200px;
	border-radius: 4px;
	box-shadow: 0px 4px 16px #171b2a3d;
	z-index: 1000;
	background-color: white;
}
.dropdown-list__list-item {
	height: 36px;
	display: flex;
	align-items: center;
	margin: 8px;
	border-radius: 4px;
	padding-left: 8px;
}
.dropdown-list__list-item:hover {
	background-color: #50b83c1a;
	cursor: pointer;
}
.dropdown-list__list-item-text {
	font-size: 14px;
	text-align: left;
	color: #1f1f1f;
	font-weight: 400;
	user-select: none;
}
.dropdown__input-icon:hover {
	background-color: #e0e0e0;
}
/* status */
.dropdown-list__normal-status {
	border: 1px solid #e6e6e6;
}
