* {
	font-family: roboto regular fonts;
}
.container {
	width: 40%;
	display: flex;
	flex: 1;
	padding-top: 120px;
	justify-content: center;
	flex-direction: column;
}
.container__items {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
