.container {
	padding: 120px;
}

.tool-tip-main-object {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-block {
}
.tool-tip-describle {
	padding: 12px;
	border: 1px solid gray;
}
.tool-tip-describle__span {
}
.tool-tip-describle + .tool-tip-describle {
	margin-left: 24px;
}
