body {
	margin: 0;
}
.header {
	height: 56px;
	width: 100%;
	float: left;
	background-color: aquamarine;
}
.sidebar {
	float: left;
	width: 200px;
	height: calc(100vh - 56px);
	background-color: brown;
}
.main {
	float: right;
	width: calc(100% - 200px);
	height: calc(100vh - 56px);
	background-color: cyan;
}
