.container {
	display: flex;
	margin: 120px 120px 120px 20px;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	/* delete it */
	margin: 0 18px 0 18px;
}
.btn {
	padding: 0;
	margin: 0;
	position: relative;
}
.btn:hover {
	cursor: pointer;
}

/* main button  */
.button__main {
	min-width: 80px;
	height: 36px;
	border-radius: 4px;
	border: unset;
	background-color: #50b83c;
}
.button__text {
	font-family: roboto regular fonts;
	font-size: 14px;
	font-weight: 500;
	line-height: 0;
	color: #ffffff;
	width: 41px;
	height: 19px;
	text-align: center;
}
/* semi button */
.button__semi {
	border: #e6e6e6 1px solid;
	border-radius: 3px;
	min-width: 80px;
	height: 36px;
	background-color: #ffffff;
}
.button__semi--text {
	font-family: roboto regular fonts;
	font-size: 14px;
	font-weight: 500;
	line-height: 0;
	color: #1f1f1f;
	text-align: center;
}
/* link button */
.button__link {
	width: auto;
	height: 36px;
}
.button__link--text {
	font-size: 14px;
	color: #50b83c;
	text-decoration: none;
}
/* icon button */
.button__icon {
	width: 40px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: unset;
	border-radius: 4px;
	background-color: #50b83c1a;
}

.button__icon--image {
	width: 20px;
	font-size: 20px;
	color: #50b83c;
	font-weight: 100;
}
/* button combobox */
.button__combo-box {
	width: 133px;
	height: 36px;
	background-color: #50b83c;
	color: white;
	display: flex;
	align-items: center;
	border: unset;
	overflow: hidden;
	border-radius: 4px;
	display: flex;
}
.button__combo-box-text {
	width: 41px;
	height: 19px;
	height: 100%;
	border: unset;
	background-color: #50b83c;
	padding-right: 16px;
	border-right: 1px solid white;
	display: flex;
	align-items: center;
	text-align: left;
}
.button__combo-box-text--p {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
}
.button__combo-box-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #50b83c;
	padding: 0 12px;
	width: 16px;
	height: 16px;
}
.button__combo-box-icon--image {
	font-size: 16px;
	color: white;
	font-weight: 100;
}
/* button with icon */
.button-with-icon {
	width: 94px;
	height: 36px;
	display: flex;
	align-items: center;
	background-color: #50b83c;
	border-radius: 4px;
}
.button-icon__part {
	/* display: flex;
	justify-content: center; */
}
.button-icon__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	/* box-sizing: border-box; */
	padding: 8px 4px 8px 12px;
}
.button-icon__icon-font {
	font-size: 14px;
	color: #ffffff;
}
.button-icon__text {
	display: flex;
	align-items: center;
	width: 41px;
	height: 19px;
	padding: 9px 20px 9px 0px;
}
.button-icon__span-text {
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
}

/* button statuses */
.button--disable {
	opacity: 56%;
}
